html{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rajdhani', sans-serif;
}

body {
	padding-top: 30px;
	background-color: #343A40;
}

.doodle {
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
}

.info {
  display: block;
  justify-content: center;
  background-color: rgba(208, 211, 214, 0.06);
  box-shadow: 1px 1px 5px 8px rgba(39, 39, 49, 0.3);
  border-radius: 20px;
  padding: 30px 60px;
  margin: 20px 20px;
  position:  relative;
}

.profile img {
  max-width: 15rem;
  max-height: 10rem;
  border-radius: 50%;
  border: 0.3rem repeating-linear-gradient(to right, #c4e17f 50px, #f7fdca 50px, #fad071 50px, #f0766b, #db9dbe, #c49cdf, #6599e2, #61c2e4);;
  margin-left: 25px;
  padding-bottom: 10px;
}

a {
	background-color: rgb(52, 58, 64);
    border-radius: 7px;
    box-shadow: 0.2px 2px 3px 1px rgb(38, 43, 47);
    display: block;
    color: rgb(61, 183, 132);
	padding: 5px;
	margin: 10px -5px;
	width: 100%;
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Rajdhani', sans-serif;
	transition: .5s ease;
	text-decoration: none;
}

.site {
	font-size: 16px;
	color: whitesmoke;
	background-color: rgb(37,197,160);
  	box-shadow: 1px 1px 1px 1px rgb(27, 155, 125);
  	transition: 0.5s ease;
}

a:hover{
  color: whitesmoke;
  background-color: rgb(37,197,160);
  box-shadow: 1px 3px 2px 2px rgb(27, 155, 125);
  transform: translateY(-5px);
}

a:active{
  transition: .1s ease;
  background-color: rgb(27, 155, 125);
  color: rgb(17, 91, 74);
  box-shadow: inset 2px 3px 2px 1px rgb(25, 127, 103);
  transform: translateY(0px);
}

.info-author{
  margin: 20px 0px 20px;
  font-size: 13px;
  display:center;
  color: #bdbdbd;
}
